*{
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    user-select: none;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,rgb(178, 255, 53),rgb(1, 73, 243));
    overflow: hidden;
}
h1{
    font-size: 6em;
    color:rgb(252, 254, 254);
    font-weight: 900;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 0%;
    width:30%;
    text-align: center;
    -webkit-text-stroke:1px rgb(0, 0, 0);
}
#container{
    min-height: 250px;
    height: auto;
    min-width: 400px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgb(2, 2, 2);
    background-color: hsla(0, 0%, 100%, 0.425);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

#board{
    display:grid;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

#input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin-top: 20px;
}

#input label{
    font-size: 1.5em;
    font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin:0;
}

#inputNum{
    all:unset;
    background-color:hsl(0,0%,100%);
    border-radius:10px;
    width:35px;
    height:25px;
    padding:1px;
    text-align:center;
    font-weight:bold;
}

#submit{
    
    background-color:rgb(6,11,160);
    color:white;
   
}
#reset-board-btn{
    background-color: rgb(213, 1, 1);
    color: white;
}
#reset-board-btn:active{
    background-color: rgb(252, 156, 156);
}
.button-template{
    border: none;
    padding:5px 10px;
    border-radius:10px;
    font-weight:bold;
    cursor:pointer;
}
#submit:active{
    background-color:rgb(16,137,243);
}

#error-msg{
    color:red;
    font-size:1.5em;
    font-weight:bold;
}

#start-anim{
    border: none;
    font-weight: bold;
    background-color: white;
    font-size: 1.3em;
    padding-bottom: 3px;
    border-radius: 10px;
    text-align: center;
    height: 20px;
    width: 50px;
    justify-content: center;
    cursor: pointer;
}
#start-anim:active{
    background-color: rgb(2, 2, 2);
    color:white
}

/* #result{
    
} */

.board-disabled {
    pointer-events: none;
}
.result-visible{
    transition: 0.5s ease-in-out;
    background-color: hsla(87, 91%, 26%, 0.429);
    height: 600px;
    width: 400px;
    position: absolute;
    right: -10px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    
}
.result-hidden{
    transition: 0.5s ease-in-out;
    background-color: hsla(87, 91%, 26%, 0.429);
    height: 600px;
    width: 400px;
    position: absolute;
    right: -370px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    
}

#result-title{
    text-align: center;

    font-size: 3.8em;
}
#result-placeholder{
    text-align: center;
    font-size: 3.8em;
    font-weight: bold;
}
.res-green{
    color:rgb(100, 250, 89);
}
.res-red{
    color:red;
}
.res-normal{
    color:white;
}
#slider-btn{
    font-size: 3em;
    height: 60px;
    width: 30px;
    color:rgb(244, 243, 243);
    font-weight: 900;
    background-color: rgb(16, 103, 68);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 3px;
    padding-bottom: 3px;
    position: absolute;
    left:0px;
    cursor:pointer;
}
#slider-btn:hover{
    background-color: rgb(27, 235, 152);
}

#description{
    font-size: 2em;
    margin-top:30px;
}
.desc-red{
    color: red;
}
.desc-normal{
    color: white;
}
.desc-green{
    color: rgb(143, 255, 98);
}

.cells{
    height:50px;
    width:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    user-select: none;
}

.white{
    background-color:white;
}

.black{
    background-color:rgb(8, 245, 16);
}

.queen{
    display:flex;
    height:100%;
    width:100%;
    background-image:url("Images/Queen png.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
}
.showFlex{
    display: flex;
}
.hide{
    display:none;
}
.danger{
    background-color:rgb(184, 66, 66);
}
.occupiedWhite{
    background-color:rgb(131, 131, 130);
}
.occupiedBlack{
    background-color:rgb(14, 55, 1);
}

.board-disabled {
    pointer-events: none;
}